body{
    box-sizing: border-box;
    background-image: url(https://img5.goodfon.ru/wallpaper/nbig/f/96/blue-luxury-background-sparkle-fon-sinii-blestki.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
form{
    width: 500px;
    min-height: 300px;
    margin: 150px auto;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
p{
    font-size: 1.5em;
}
input{
    line-height: 0.2em;
}


#run{
    font-size: 2em;
    margin-left: 10px;
    background-color: rgb(141, 135, 135);
    transition: -all 0.3s;
    -webkit-transition: -all 0.3s;
    -moz-transition: -all 0.3s;
    -ms-transition: -all 0.3s;
    -o-transition: -all 0.3s;
}
#run:hover{
    transform: scale(1.1);
    opacity: 0.8;
    color:black;
    background-color: rgb(112, 105, 105);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);

}