body{
    box-sizing: border-box;
    background-image: url(https://img5.goodfon.ru/wallpaper/nbig/f/96/blue-luxury-background-sparkle-fon-sinii-blestki.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}